<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to My Application</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <style>
        body{
            background-color: black;
        }
        #font1{
            color: red;
        }
        #font2{
            color: forestgreen;
        }
        #font2:hover{
            color: yellow;
        }
    </style>

</head>

<body>

<div class="container-fluid text-center">
    <font face="Times New Roman" size="10"><h1 id="font1">Welcome to EMS Project</h1></font>
    <font face="Times New Roman"><h2><a href="/employees" id="font2">Manage Employees</a></h2></font>
</div>

<div class="w-100 h-100 d-flex flex-column">
    <img src="https://www.jonesday.com/-/media/images/publications/2017/03/france-employees-and-digital-devices-outside-worki/extensionceogimageoverride/labor_employment.jpg?rev=efb7ff0629a04ce08f7de08d922bebb9&h=800&w=1600&la=en&hash=506C8F53714597114C7144A0EBB5FB98">
</div>

</body>

</html>